#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  border: 1px solid white;
  padding: 12px;
  border-radius: 12%;
}

.tarea-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 32px;
  text-decoration: underline;
}

.tarea-description {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.tarea-estado {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.tarea-responsable {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  /* display: inline-block; */
  width: 50%;
  margin: auto;
  border: 1px solid white;
  padding: 18px;
  border-radius: 12px;
}

.btn-estado {
  margin: 18px;
  background-color: #3185FC;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.select-status {
  background-color: white;
  color: black;
  padding: 12px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 8px;
}

.btn-delete {
  color: red;
  font-size: 32px;
}

.btn-delete:hover {
  font-size: 34px;
  transition-duration: .4s;
  transition:ease-in-out
}

.btn-edit {
  color: green;
  font-size: 32px;
}

.btn-edit:hover {
  font-size: 34px;
  transition-duration: .4s;
}